.auto {
    justify-content: space-around;
    height: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: content;
    font-size: 60px;
    width: 50% !important;
}

.main-container .main-row .main-col {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 30vh;
    margin-top: 75px;
}

.main-container .main-row .main-col .btn{
    display: flex;
    width: 10%;
    height: 9vh;
}

/* .imagelist-row{
    border: 3px solid #35a0f1;
    border-radius: 8px;
    background-color: #35a0f1;
    padding: 0.5em;
} */

.imagelist-row .imagelist-col{
    display: flex; 
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 40vh;
    /* border-radius: 8px;
    border :3px solid #ffff; */
}

.img-row {
    width: 90%;
}

.img-row > img {
    margin: 10px 10px;
    border-radius: 8px;
    border :3px solid rgb(20, 51, 87);
}

.img-row > img:hover {
    transform: scale(1.2);
    transition: 2s all linear;
}

.gallery-row .gallery-col {
    padding: 0px 0px 16px 71px;
}


