.modal-body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body .modal-img {
    width: 500px;
    height: auto;
}

.modal-body .modal-img img {
    width: 100%;
    display: block;
    height: auto;
}
.modal-desc{
    background-color: cyan;
}
@media only screen and (max-width: 600px) {
    .modal-body .modal-img {
        width: 250px;
    }
}

